<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <strong>TRAIN</strong>
        </div>
        <div class="card-body">
         
          <div class="form-group col-sm-4 pull-left mb-0 pl-0">
              <!-- <select class="form-control fix-max-width pull-left" name="group-name" [(ngModel)]="">
                  <option >Name</option>
              </select> -->
          </div>
          <!-- <label class="form-control-label pull-left create-group" title="{{'nlp.train.creategroup' | translate}}" (click)="openCreateGroupModal()"></label> -->
        </div>
      </div>

    </div>
    <!--/.col-->
   
    <!--/.col-->
  </div>
  <!--/.row-->
</div>
